@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-primary bg-background text-lg;
  }
  :root {
    /* Border Radius */
    --radius: 0.5rem;

    /* Primary and Secondary Colors */
    --primary: #6c757d;
    --secondary: #007bff;

    --background: #f8f9fa;
    --foreground: #212529;

    /* Text Colors */
    --text-primary: #212529;
    --text-secondary: #6c757d;
  }
}
